$orange: #F49061;
$orange2: #EB773F;

.hitspot{
	cursor: pointer;
	outline: none;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
	user-select: none;
}


header{
    width: 100%;
    height: 48px;
    background-color: $orange;
    .heading{
    	height: 100%;
    	.logo{
    		display: inline-block;
    		width: 62px;
    		height: 23px;
    		margin: 13px;
    		background-image:url("images/logo-w.png");
			background-repeat: repeat-x;
			background-position: center;
    		background-size: contain;
    	}
		.menuToggle{
			width: 33px;
			display: inline;
			float: right;
			margin: 13px;
			@extend .hitspot;
			span{
				display: block;
				width: 100%;
				height: 3px;
				background-color: #fff;
				margin-top: 6px;
				transition: opacity .12s ease-in-out, transform .24s ease-in-out, transform-origin .15s ease-in-out;
				&:first-of-type{
					margin-top: 0;
				}
			}
		}
    }
    nav.main{
    	background-color: $orange;
    	position: absolute;
		left: 0;
		width: 100%;
		top: 48px;
    	height: 0;
    	overflow: scroll;
    	z-index: 99;
    	transition: height .24s ease-in-out;
    	border-top: 3px #CE6532 solid;
    }

    nav.main-desktop{
		@extend nav.main;
		display: none;
    	overflow: hidden;
    	background-color: $orange2;
    	.heading-half{
    		position: relative;
			height: 460px;
			width: 100%;
			background-color: $orange;
			border-bottom: 2px rgba(0,0,0,0.15) solid;
			background-image: url("images/logo.e.png");
			background-repeat: no-repeat;
			background-position: center 90px;
			background-size: 170px auto;
			.headings{
				position: absolute;
				left: 15%;
				bottom: 40px;
				width: 70%;
				display: flex;
				justify-content: space-between;
				.navlink{
					display: block;
					width: 300px;
					text-align: center;
					text-decoration: none;
					font-size: 50px;
					font-weight: 300;
					color: #fff;
				}
			}
    	}
    	.subs-half{
    		min-height: 460px;
			height: calc(100% - 508px);
			position: relative;
			nav.submenus{
				position: absolute;
				left: 15%;
				top: 40px;
				width: 70%;
				display: flex;
				justify-content: space-between;
				.subm{
					width: 300px;
					text-align: center;
					ul{
						li{
							color: #fff;
							font-size: 18px;
							margin-bottom: 45px; 
							a{
								color: #fff;
								text-decoration: none;
							}
						}
					}
				}
			}
    	}
    }


    &[data-active="true"] {
		.heading .menuToggle span{
			&:nth-of-type(1){
				transition: transform .24s ease-in-out, transform-origin .15s ease-in-out;
				transform: rotate(45deg);
				transform-origin: 12%;
			}
			&:nth-of-type(2){
				transition: opacity .24s ease-in-out, transform .24s ease-in-out;
				opacity: 0;
				transform: translateY(-6px);
			}
			&:nth-of-type(3){
				transition: transform .32s ease-in-out, transform-origin .24s ease-in-out;
				transform: rotate(-45deg);
				transform-origin: 12%;
			}
		}
		nav.main{
			height: calc(100% - 48px);
		}
	}
}

.navlink{
	cursor: pointer;
}

.navItem{
	height: auto;
	width: 100%;
	// box-shadow: 0px 9px 21px -10px rgba(0,0,0,0.15);
	border-bottom: 2px rgba(0,0,0,0.15) solid;
	.heading{
		width: 100%;
		height: 73px;
		position: relative;
		.navlink{
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: 0 33px;
			text-decoration: none;
			color: #fff;
			font-size: 32px;
			font-weight: 300;
			text-transform: lowercase;
		}
		.expand{
			@extend .hitspot;
			width: 44px;
			height: 44px;
			position: absolute;
			padding: 9px;
			top: 14px;
			right: 22px;
			cursor: pointer;
			span{
				display: block;
				width: 100%;
				height: 3px;
				background-color: #fff;
				&:first-of-type{
					transform: translateY(11px);
				}
				&:last-of-type{
					transition: transform .24s ease-in-out;
					transform: rotate(90deg) translateX(8px);
				}
			}
		}
	}
	nav.sub{
		transition: height .24s ease-in-out;
		position: relative;
		height: 0;
		width: 100%;
		overflow-y:hidden;
		background-color: #EA7740;
		.subWrap{
			width: 100%;
			position: absolute;
			padding: 12px 0;
			top: 0; 
			left: 0;
			.navlink{
				width: 100%;
				height: 50px;
				color: #fff;
				font-weight: 300;
				font-size: 20px;
				line-height: 50px;
				display: block;
				text-decoration: none;
				padding-left: 50px;
			}
		}
	}
	&[data-activesub="true"]
	{
		.heading .expand span{
			&:last-of-type{
				transform: translateY(8px) translateX(0) rotate(0);
			}
		}
	}
}


@media (min-width: 1200px) {
	header{
		nav{
			&.main{
				display: none;
			}
			&.main-desktop{
				display: block;
			}
		}
		&[data-active="true"] {
			nav{
				&.main{
					height: 0;
				}
				&.main-desktop{
					height: calc(100% - 48px);
				}
			}
		}
	}
}