$purple: #B58AD6;
$blue: #40A0FF;
$green: #2BC4B6;
$pink: #FA89E7;

#chat{
    display:inline-block;
    height: calc(100vh - 48px);
    background-color: #fff;
    width: 40%;
    max-width: 600px;
    float:left;
    overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    position: relative;
}

.chatContainer{
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	justify-content: flex-end;
	height: auto;
	min-height: 100%;
    position: relative;
    padding-bottom: 75px;
}
.optionsWrap{
	position: absolute;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 75px;
    transition: transform .25s ease-in-out;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    .options{
        // padding-top: 10px;
        position: absolute;
        height: 75px;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        align-content: center;
        padding: 0 15px;
        box-sizing: content-box;
    }
}
.optionsWrap:empty{
	transform: translateY(50px);
}
.optionsWrap .option{
	padding: 0 10px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    float: left;
    border: 1px $purple solid;
    color:#000;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    flex-shrink: 0;
    // &:hover{
    //     background-color: darkcyan;
    //     color: #fff;
    // }
    &[data-scenario="navigate"]{
        &[data-route="/about"]{
            border-color: $purple;
            color: $purple;
        }
        &[data-route="/contact"]{
            border-color: $green;
            color: $green;
        }
        &[data-route="/work"]{
            border-color: $blue;
            color: $blue;
        }
    }
    &[data-scenario="surprise"]{
        border-color: $pink;
        color: $pink;
    }
}

@media only screen and (min-width: 1200px) {
    .chatContainer{
        padding-bottom: 100px;
    }
    .optionsWrap{
        height: 100px;
        .options{
            height: 100%;
            width: 100% !important;
            flex-wrap: wrap;
            box-sizing: border-box;
        }
    }
}