@font-face {
    font-family: 'Heebo';
    src: url('fonts/HeeboRegular.eot');
    src: url('fonts/HeeboRegular.eot') format('embedded-opentype'),
         url('fonts/HeeboRegular.woff2') format('woff2'),
         url('fonts/HeeboRegular.woff') format('woff'),
         url('fonts/HeeboRegular.ttf') format('truetype'),
         url('fonts/HeeboRegular.svg') format('svg');
}

@font-face {
    font-family: 'Heebo';
    font-weight: 700;
    src: url('fonts/HeeboBold.eot');
    src: url('fonts/HeeboBold.eot') format('embedded-opentype'),
         url('fonts/HeeboBold.woff2') format('woff2'),
         url('fonts/HeeboBold.woff') format('woff'),
         url('fonts/HeeboBold.ttf') format('truetype'),
         url('fonts/HeeboBold.svg') format('svg');
}

@font-face {
    font-family: 'Heebo';
    font-weight: 500;
    src: url('fonts/HeeboMedium.eot');
    src: url('fonts/HeeboMedium.eot') format('embedded-opentype'),
         url('fonts/HeeboMedium.woff2') format('woff2'),
         url('fonts/HeeboMedium.woff') format('woff'),
         url('fonts/HeeboMedium.ttf') format('truetype'),
         url('fonts/HeeboMedium.svg') format('svg');
}

@font-face {
    font-family: 'Heebo';
    font-weight: 300;
    src: url('fonts/HeeboLight.eot');
    src: url('fonts/HeeboLight.eot') format('embedded-opentype'),
         url('fonts/HeeboLight.woff2') format('woff2'),
         url('fonts/HeeboLight.woff') format('woff'),
         url('fonts/HeeboLight.ttf') format('truetype'),
         url('fonts/HeeboLight.svg') format('svg');
}