@import "reset";
@import "fonts";
*{
	box-sizing: border-box;
}

$blue: #40A0FF;
$grey: #666664;
$orange: #F49061;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);

html,
body{
	font-family: "Heebo";
}

#main{
	overflow:hidden;
}

#pageContent{
	position: relative;
	overflow-y: auto;
	display:inline-block;
	height: calc(100vh - 48px);
	background-color: #fff;
	background-image: url("images/stripes.png");
	width: calc(100% - 600px);
	min-width: 60%;
	float:left;
	box-shadow: inset 3px 3px 6px rgba(0,0,0,.16);
	h1{
		margin: 40px 0 0 0;
	}
	.page{
		width: 100%;
		height: 100%;
		// background-image: url("images/instagram.png");
		// background-repeat: no-repeat;
		// background-position: center;
		// background-size: cover;
	}
	.mobileBack{
		position: relative;
		transition: opacity .24s ease-in-out;
		width: 100%;
		height: 50px;
		background-color: $blue;
		box-shadow: 0 2px 5px rgba(0,0,0,.16);
		border: none;
		display: flex;
		align-items: center;
		padding-left: 13px;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		line-height: 17px;
		display: none;
		&.bottom{
			width: 90%;
			float:right; 
			border-radius: 5px 0 0 5px;
			margin-bottom: 25px;
		}
		&:before{
			width: 9px;
			height: 17px;
			content: "";
			background-image: url("images/backarr.png");
			background-repeat: no-repeat;
			padding-right: 10px;
		}
	}
	.caseStudy{
		.pageTop{
			width: 100%;
			height: 150px;
			box-shadow: 0 2px 5px rgba(0,0,0,.16);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-image: url("images/top.approach.png");
			position: relative;
			h1{
				position: absolute;
				left: 26px;
				bottom: 13px;
				border-radius: 5px;
				box-shadow: 0 2px 5px rgba(0,0,0,.16);
				background-color: #fff;
				font-weight: bold;
				color: $blue;
				padding: 14px;

			}
		}
		.caseContent{
			padding: 30px;
			max-width: 860px;
			margin: 0 auto;
			>h2{
				font-size: 18px;
				line-height: 30px;
				font-weight: 500;
				width: 100%;
				color: $grey;
				border-bottom: 4px $blue solid;
				margin-top: 30px;
				span{
					text-decoration: none;	
				}
			}
			>h3{
				font-weight: 500;
				margin: 15px 0;
			}
			>p{
				font-size: 14px;
				font-weight: 300;
				line-height: 17px;
				margin-top: 15px;
			}
		}
		.meta{
			margin: 40px auto 0;
			max-width: 800px;
			.relatedMessage{
				font-size: 16px;
				font-weight: 300;
				padding: 10px;
				border-radius: 10px;
				background-color: rgba(104, 104, 100, 0.05);
				float:left;
				margin-left: 40px;
				position: relative;
				margin-bottom: 10px;
				&:before{
					content: "";
					width: 16px;
					height: 16px;
					position: absolute;
					left: -25px;
    				top: 3px;
					background-image: url("images/ebee.e.png");
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
				}
			}
		}
		&[data-id="viread-patient-profiles"]{
			
		}
	}
	.page{
		// padding: 10px;
		// transform: translateY(50px);
		// opacity: 0;
		// animation: slideIn .25s linear .5s 1  forwards;
	}
}

.greetingBlock{
	width: 100%;
	background-color: $orange;
	flex-shrink: 0;
	height: calc(100vh - 48px);
	min-height: 300px;
	position: relative;
	background-image: url("images/logo.e.png");
	background-repeat: no-repeat;
	background-position: center 30px;
	box-shadow: 0 2px 5px rgba(0,0,0,.16);
	.content{
		position: absolute;
		left: 30px;
		bottom: 30px;
		color: #fff;
		width: 280px;
		.date{
			font-size: 11px;
			font-weight: 500;
			line-height: 20px;
			padding-bottom: 15px;
			padding-right: 60px;
			border-bottom: 2px #fff solid;
			transform-origin: top left;
			transform: scale(.1);
			opacity: 0;
			transition: transform .24s $easeOutBack, opacity .24s $easeOutBack;
		}
		h1{
			font-size: 36px;
			line-height: 43px;
			min-height: 43px;
			font-weight: 300;
			margin-top: 20px;
		}
		p{
			font-size: 20px;
			line-height: 26px;
			font-weight: 300;
			margin-top: 30px;
			&:nth-of-type(1){
				transform-origin: top left;
				transform: scale(.1);
				opacity: 0;
				transition: transform .24s .5s $easeOutBack, opacity .24s .5s $easeOutBack;
			}
			&:nth-of-type(2){
				width: 0;
				transition: width .48s 1s $easeOutBack;
				overflow-x: hidden;
				strong{
					font-weight: 500;
					width: 260px;	
					display: block;	
				}
				
			}
		}
	}
	&.active{
		.content {
			.date{
				opacity: 1;
				transform: scale(1);
			}	
			p{
				&:nth-of-type(1){
					opacity: 1;
					transform: scale(1);
				}
				&:nth-of-type(2){
					width: 260px;
				}
			}
		}
	}
}


.socialWrap{
	width: 100%;
	height: 270px;
	background-image: url("images/logo.e.png");
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 110px auto;
	position: relative;
	margin-top: 40px;
	.socials{
		display: flex;
		justify-content: center;
		position: absolute;
		left: 0;
		bottom: 80px;
		width: 100%;

		span{
			display: block;
			width: 36px;
			height: 36px;
			margin: 0 15px;
			background-position: center;
			background-repeat: no-repeat;
			&.instagram{
				background-image: url("images/icon.instagram.png");
			}
			&.twitter{
				background-image: url("images/icon.twitter.png");
			}
			&.linkedin{
				background-image: url("images/icon.linkedin.png");
			}
		}
	}
	.footDetails{
		font-size: 10px;
		font-weight: 300;
		color: #fff;
		position: absolute;
		bottom: 20px;
		text-align: center;
		width: 100%;
		line-height: 18px;
	}
}

.tiles{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// justify-content: flex-start;
	// align-content: flex-start;
	.tileRow{
		display: flex;
		flex: 1;
		.tile{
			overflow: hidden;
			display: flex;
			flex: 1;
			.child{
				width: 100%;
				display: flex;
				flex: 1;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				transition: transform .24s ease-in-out;
				&:hover{
					transform: scale(1.2);
				}	
			}
			
		}
	}
}

@media only screen and (min-width: 769px) {
	.socialWrap{
		background-image: none;
		position: absolute;
		bottom: 20px;
		left: 15%;
		width: 70%;
		text-align: center;
		height: auto;
		.socials{
			bottom: 60px;
		}
		br{
			display: none;
		}
	}
	.greetingBlock{
		background-size: 220px auto;
	}
	#pageContent{
		.caseStudy{
			.pageTop{
				height: 250px;
				h1{
					width: 100%;
					bottom: 0;
					background-color: $blue;
					color: #fff;
					left: 0;
					border-radius: 0;
					span{
						max-width: 800px;
						display: block;
						margin: 0 auto;
					}
				}
			}
			.meta{
				.relatedMessage{
					// margin-left: 30px;
				}
			}
		}
	}
}
@media only screen and (max-device-width : 768px){
	.bodyWrapper{
		width: 100%;
		#pageWrap{
			width: 100%;
			overflow:hidden;
			main#main{
				width: 200%;
				transition: transform .3s ease-in-out;
				#chat{
					width: 50%;
					.optionsWrap{
						width: 100%;
					}
				}
				#pageContent{
					width: 50%;
					min-width: 0;
					.mobileBack{
						display: flex;
					}
				}
			}
			&.showPageOnMobile{
				main#main{
					transform: translateX(-50%);
				}
				#chat{
					.optionsWrap{
						transform: translateY(50px);
					}
				}
				#pageContent{
					.mobileBack{
						display: flex;
					}
				}
			}	
		}
			
	}
	
}



@keyframes slideIn{
	from{
		opacity: 0;
		transform: translateY(50px);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
}