.caseStudy{
	.related{
	    max-width: 100%;
	    width: 100%;
	    overflow-x: scroll;
	    height: 170px;
	    padding: 0;
	    position: relative;
	    -webkit-overflow-scrolling: touch;	    
	    margin-bottom: 40px;
		.wrap{
			height: auto;
		    overflow: hidden;
		    position: absolute;
		    left: 30px;
		    right: 30px;
		    top: 5px;
		    .inlineOption{
		    	position: relative;
	    	    display: inline-block;
			    float: left;
			    border-radius: 5px;
			    height: 152px;
			    width: 177px;
			    margin: 5px;
			    background-color: rgba(29, 100, 214, 0.8);
			    background-size: cover;
			    background-repeat: no-repeat;
			    background-position: center;
			    color: #fff;
			    text-decoration: none;
			    cursor: pointer;
			    span{
		    	    z-index: 5;
				    position: absolute;
				    width: 160px;
				    height: 36px;
				    left: 10px;
				    bottom: 10px;
				    padding-right: 40px;
				    padding-left: 10px;
				    background-color: #fff;
				    border-radius: 5px;
				    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
				    font-size: 14px;
				    font-weight: 300;
				    line-height: 36px;
				    text-align: left;
				    color: #40A0FF;
				    white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    &:after{
				    	content: "";
					    border-radius: 0 5px 5px 0;
					    width: 30px;
					    height: 36px;
					    right: 0;
					    top: 0;
					    position: absolute;
					    background-color: #40A0FF;
					    background-image: url("images/chevron.png");
						background-repeat: no-repeat;
						background-position: center;
				    }
			    }
		    }
		}
	}
}