.message{
	width: 100%;
	padding: 5px;
	height: auto;
	opacity: 0;
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	animation: fadeIn .15s linear 1 forwards;
	transition: .25s width ease-in-out;
	margin-top:6px;
	position: relative;
	>*{
		max-width: 66%;
		border-radius: 5px 5px 0 5px;
		padding: 10px;
		width: auto;
		overflow: hidden;
		font-size: 16px;
		font-weight: 300;
		line-height: 20px;
	}
	>.text{
		transition: width .24s ease-in-out;
	}
	&.ebee{
		>*{
			float:left;
			background-color: hsla(60,2,40,.05);
			border-radius: 0 10px 10px 10px;
			margin-left: 40px;
		}
		&[data-firstebee="true"]{
			&:after{
				content: "";
				width: 16px;
				height: 16px;
				position: absolute;
			    left: 15px;
				top: 10px;
				background-image: url("images/ebee.e.png");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}
	}
	&.user{
		>*{
			float:right;
			margin-right: 25px;
			text-align: right;
			background-color: #40A0FF;
			color: #fff;
		}
	}
	>.options{
		margin-right: 0;
		margin-left: 0;
		background-color: transparent;
		max-width: 100%;
		width: 100%;
		overflow-x: scroll;
		height: 162px;
		padding: 0;
		position:relative;
		-webkit-overflow-scrolling: touch;
		.wrap{
			height: auto;
			overflow: hidden;
			position: absolute;
			left: 0;
			top: 5px;
			.inlineOption, a{
				display: inline-block;
				float: left;
				border-radius: 5px;
				height: 152px;
				width: 177px;
				margin: 5px;
				background-color: rgba(29, 100, 214, .8);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				color: #fff;
				text-decoration: none;
			}
			.inlineOption{
				position: relative;
				span{
					z-index: 5;
					position: absolute;
					width: 160px;
					height: 36px;
					left: 10px;
					bottom: 10px;
					padding-right: 40px;
					padding-left: 10px;
					background-color: #fff;
					border-radius: 5px;
					box-shadow: 0 2px 5px rgba(0,0,0,.16);
					font-size: 14px;
					font-weight: 300;
					line-height: 36px;
					text-align: left;
					color: #40A0FF;
					white-space: nowrap;
				  	overflow: hidden;
					text-overflow: ellipsis;
					cursor: pointer;
					&:after{
						content: "";
						border-radius: 0 5px 5px 0;
						width: 30px;
						height: 36px;
						right: 0;
						top:0;
						position: absolute;
						background-color: #40A0FF;
						background-image: url("images/chevron.png");
						background-repeat: no-repeat;
						background-position: center;
					}
				}
			}
		}
	}
	.surprise{
		padding: 0;
		background-color: transparent;
		>img{
			width: 100%;
			height: auto;
			display: block;
		}
	}
	.dots{
		background-image: url("images/dots.gif");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 30px;
		height: 40px;
		background-color: transparent;
	}
}
	


@keyframes fadeIn{
	from{
		opacity: 0;
		transform: translateY(30px);
		-webkit-transform: translateY(30px);	
	}
	to{
		opacity: 1;
		transform: translateY(0);
		-webkit-transform: translateY(0);	
	}
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}