.popup{
	position: absolute;
	width: 1685px;
	height: 875px;
	top: -900px;
	left: 117px;
	background-color: #fff;
	opacity:0;
	pointer-events: none;
	transition: opacity .6s cubic-bezier(0.680, -0.550, 0.265, 1.550), transform .6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	z-index: 19;
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
	&.active{
		transform: translateY(1000px);
		opacity: 1;
		pointer-events: all;
	}
}

.popupContent{
	display: block;
	float:left;
	width:100%;
	height:815px;
	overflow:hidden;
	.poptop{
		width: 100%;
		height: 120px;
		background-color: #fff;
		float:left;
		h2{
			font-weight: 300;
			color:#555;
			font-size: 36px;
			line-height: 48px;
			margin:0;
			text-align: center;
			sup{
				line-height: 0;
				font-size:22px;
			}
		}
	}
	.popmiddle{
		width: calc(100% + 20px);
		margin-left: -10px;
		height: 600px;
		box-shadow: inset 0px 0px 10px 6px #ABABAB;
		background: url("images/pattern.png");
		float:left;
	}
	.popbottom{
		width: 100%;
		float:left;
		height: 95px;
		background-color: #fff;
		padding-top:20px;
		font-size: 12px;
		color: #575757;
		sup{
			line-height: 0;
		}
		.bottomContent{
			width: 1640px;
			display: block;
			margin: 0 auto;
			height: 95px;
			.colx2{
				width: 50%;
				padding: 0 20px;
				display: inline-block;
				float:left;
			}
			p{
				margin: 0;
				text-indent:-10px;
				padding-left:10px;
			}
		}
	}
	&.hasTab{
		.poptop{
			height: 230px;
			.tabHead{
				width: 1500px;
				height: 60px;
				margin: 0 auto;
				.contentBtn{
					display: inline-block;
					float:left;
					width:500px;
					border: 1px #a7a7a7 solid;
					font-weight: 700;
					line-height: 35px;
					font-size: 26px;
					background-image:url("images/contentBtnBg.inactive.png");
					background-repeat: repeat-x;
					background-position: center;
					padding-right: 20px;
					&.active{
						border: 1px #ffe566 solid;
						background-image: url("images/contentBtnBg.png");
						background-repeat: repeat-x;
					}
					border-radius: 0;
					&:first-child{
						border-radius: 8px 0 0 8px;
						&:not(.active){
							border-right: 1px #c2c2c2 solid; 
						}
					}
					&:last-child{
						border-radius: 0 8px 8px 0;
						&:not(.active){
							border-left: 1px #c2c2c2 solid; 
						}
					}
				}
			}
			h2{
				margin-top:40px;
			}
		}
		.popmiddle{
			height: 490px;
		}

	}
	&.SI{
		.poptop{
			height: 100px;
			.tabHead{
				width: 1000px;
			}
		}
		.popmiddle{
			height: 715px;
			background: none;
			box-shadow: none;
		}
	}
}